<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>36 Questions</title>
</head>

<body>

  <div class="container">

    <form action="/" method="POST">


      <div class="space">



        <label class="switch">
          <input name="toggleSwitch" type="checkbox">
          <span class="slider round"></span>
        </label>

        <h1>36 questions</h1>

        <p>Pour tomber amoureux</p>



        <div class="buttons">
          <input type="submit" value="<%= valueButton %>" class="next">
        </div>


        <div class="footer">
          © By <strong><a href="https://hdinhvu.com/">Hdinhvu</a></strong>
        </div>
      </div>



    </form>

  </div>


  <script>

    //   function darkMode(){
    //   if($("input[type=checkbox]").is(":checked")){
    //     $("body").toggleClass("lightMode darkMode");
    //   }
    //   else{
    //     $("body").toggleClass("darkMode lightMode")
    //   }
    // }



    const toggleSwitch = document.querySelector('input[type="checkbox"]');


      //Check if current thme is saved in localStorage
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

    console.log(currentTheme);

    if (currentTheme) {
      document.documentElement.setAttribute('data-theme', currentTheme);

      if (currentTheme === 'dark') {
        toggleSwitch.checked = true;
      }
    }
      //


    function switchTheme(e) {
      if (e.target.checked) {
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem('theme', 'dark');
      }
      else {
        document.documentElement.setAttribute('data-theme', 'light');
        localStorage.setItem('theme', 'light');
      }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);



  </script>
</body>

</html>