<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>36 Questions</title>
</head>
<body class="lightMode">
  
  <div class="container">

    <form action="/" method="GET">


    <div class="space">
      
      

      <label class="switch">
        <input type="checkbox" onclick="darkMode()">
        <span class="slider round"></span>
      </label>

     <h1><%= i %></h1>

     <p><%= question %></p>



     <div class="buttons">
      <input type="submit" value="Suivant" class="next">
     </div>

    </div>


    
  </form>

  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <script>
    
    function darkMode(){
    if($("input[type=checkbox]").is(":checked")){
      $("body").toggleClass("lightMode darkMode");
    }
    else{
      $("body").toggleClass("darkMode lightMode")
    }
  }
  
  </script>
</body>
</html>