<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>36 Questions</title>
</head>
<body>
  
  <div class="container">

    <form action="/" method="GET">


    <div class="space">
      
     <h1><%= i %></h1>

     <p><%= question %></p>

      <!-- <input type="button" name="chrono" value="Ready" id="chrono"> -->


     <div class="buttons">
      <input type="submit" value="Suivant" class="next">
     </div>

    </div>


    
  </form>

  </div>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <script>
    if($("h1").text() === "Bonus"){
      $("#chrono").css("display", "block");
    }
    console.log($("h1").text());
  </script> -->
</body>
</html>